body {
  font-size: 2rem;
}

h2 {
  margin-top: 0px;
}

input {
  font-size: 2rem;
}

.li-nav {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  list-style-position: inside;
  width: 18rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: azure;
  text-align: center;
}

.li-nav.dark {
  border: 1px solid yellow;
  background-color: #003333;
}

.dark a {
  color: #FFFF33;
}

span.dark {
  background-color: #003333;
  color: #FFFF33;
}

.outercontainer {
  min-width: 100vw;
  min-height: 100vh;
}

.flexh {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-spacebetween {
  justify-content: space-between;
}

.jc-spacearound {
  justify-content: space-around;
}

.nobullet {
  list-style-type: none;
}

img {
  float:left;
  margin-right: 1.5rem;
}

.dark {
  background-color: #000033;
  color: #FFFFDD;
}

button {
  border: 1px solid black;
}

.dark button {
  border: 1px solid white;
  background-color: #003333;
  color: #FFFF33;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-container {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.height-special {
  min-height: 300px;
}

.dark .border-container {
  border: 1px solid yellow;
}

.activebutton {
  background-color: blue;
  color: white;
}

.dark .activebutton {
  background-color: darkslategray;
}

.flexspec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widthhalf {
  width: 800px;
  border: 1px solid black;
}

.dark .widthhalf {
  border: 1px solid white;
}

.nth-child:nth-child(even) {
  background-color: azure;
}

.dark .nth-child:nth-child(even) {
  background-color: darkblue;
  width: 800px;
}

.heightline {
  height: 60px;
}

.checkbox {
  height: 30px;
  width: 30px;
}

/* .blogpost {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.blogpost.fade{
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
} */