body {
  font-size: 2rem;
}

h2 {
  margin-top: 0px;
  margin-left: 1.5rem;
}

input {
  font-size: 2rem;
}

.li-nav {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  list-style-position: inside;
  width: 18rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: azure;
  text-align: center;
}

.li-nav.dark {
  border: 1px solid yellow;
  background-color: #003333;
}

.dark a {
  color: #FFFF33;
}

span.dark {
  background-color: #003333;
  color: #FFFF33;
}

.outercontainer {
  min-width: 100vw;
  min-height: 100vh;
}

.flexh {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-spacebetween {
  justify-content: space-between;
}

.jc-spacearound {
  justify-content: space-around;
}

.nobullet {
  list-style-type: none;
}

.img-float {
  float:left;
  margin-right: 1.5rem;
}

.img-float-right {
  float: right;
  margin-left: 1.5rem;
}

.clear {
  clear: both;
}

.dark {
  background-color: #000033;
  color: #FFFFDD;
}

button {
  border: 1px solid black;
}

ul {
  padding: 0;
}

.dark button {
  border: 1px solid white;
  background-color: #003333;
  color: #FFFF33;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.border-container-small {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.dark .border-container-small {
  border: 1px solid white;
}

.border-container {
  margin: 1rem 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.fontheavy {
  font-weight:700;
  text-decoration: underline;
}

.height-special {
  min-height: 300px;
}

.dark .border-container {
  border: 1px solid yellow;
}

.padding-plus {
  padding-left: 3rem;
}
.video-container {
  margin-top: 100px;
  margin-right: 400px;
}

.activebutton {
  background-color: blue;
  color: white;
}

.dark .activebutton {
  background-color: darkslategray;
}

.flexspec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widthhalf {
  width: 800px;
  border: 1px solid black;
}

.dark .widthhalf {
  border: 1px solid white;
}

.nth-child:nth-child(even) {
  background-color: azure;
}

.dark .nth-child:nth-child(even) {
  background-color: darkblue;
}

.trash-icon-button {
  padding: 0;
  height: 2.5rem;
  width: 1.2em;
  background-color: #003333;;
}

.width-special {
  width: 25rem;
}